[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MRTSampleSize"]
	path = MRTSampleSize
	url = https://github.com/cran/MRTSampleSize
